<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-dark-mode-target="navbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "one-degree-design.png", alt: "logo", class: "rounded-circle" %>
    <% end %>
    <div class="brand">One <span class="highlightnav" data-dark-mode-target="highlightnav">degree </span> design</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item dark-mode-bulb">
          <a href=""><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb" data-action="click->dark-mode#switch"></i></a>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item dark-mode-bulb" >
          <a href=""><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb" id="darkSwitch" data-action="click->dark-mode#switch"></i></a>
        </li>
       <% end %>
    </ul>
  </div>
</div>
