<% @versions = Version.where(website_id: website) %>
<% @versions.reverse.each_with_index do |version, index| %>
  <div class="version mt-5">
    <div class="version-headers d-flex w-100 mt-5 mb-2">
      <% if index == 0 %>
        <h5 class="dark-mode-text">YOUR LAST VERSION   </h5>
      <% else %>
        <h5 class="dark-mode-text">VERSION <%= index + 1 %>  </h5>
      <% end %>
      <h5 class="color: $cyellow">   <%= version.created_at.day %> <%= version.created_at.month  %> <%= version.created_at.year %></h5>
    </div>
    <h2 class="websites-urls"><%= website.url.upcase %></h2>


    <div class="d-flex version-infos w-100 justify-content-between">

      <div class="version-infos-container text-center">
        <p>Background colors:</p>
          <div class="background-color-container d-flex justify-content-center">
            <% version.background_color.each do |color| %>
                <div class="background-color-sample" style='background-color: <%=color%>'></div>
            <% end %>
          </div>
      </div>
      <div class="version-infos-container">
        <p>Images size:</p>
          <h3>
            <%= version.all_images_size %>mb
          </h3>
      </div>
      <div class="version-infos-container">
        <p>Biggest image:</p>
          <h3>
            <%= version.photos.first.size %>mb
          </h3>
      </div>

    </div>


    <div class="version-stats d-flex justify-content-between">

      <div class="version-stat-text">
        <% if version.cleaner_than > 0.5 %>
        <p>👍 Cleaner than <strong class="green"><%= (version.cleaner_than * 100).to_i %>%</strong></p>
        <% else %>
        <p>👎 Dirtier than <strong class="red"><%= 100 - (version.cleaner_than * 100).to_i %>%</strong></p>
        <% end %>

        <% if version.green_hosting == true %>
          <p>Your site is using <strong class="green">green</strong> hosting!</p>
        <% else %>
          <p>Your site is <strong class="red">not</strong> using green hosting..</p>
        <% end %>
        <p>The size of your site is <%= number_with_precision((version.bytes / 1000000), precision: 2) %>mb</p>
      </div>

      <%= link_to "Read the full analysis ⟶", version_path(version), class: "btn btn-flat btn-version" %>
    </div>
    <div class="spacer"></div>
    <hr>
  </div>

<% end %>
