<div class="position-relative">
  <div class="container text-start h-100">

    <%# BANNER %>
    <div class="banner box">
        <h1><span class="highlight" data-dark-mode-target="highlight">Hello</span> <%= @user.email %>, 👋</h1>
        <p> Compare all your website versions</p>
    </div>
    <div class="testyoursite text-center row">
      <div class="col-12 mb-3">
        <h2>Website search form</h2>
      </div>

        <%# SEARCH %>
        <div class="col-12 col-xl-6 col-lg-6 mx-auto w-100 ps-5 pe-5" data-controller="search-form">
          <%# make a stimulus for the search %>
          <%= simple_form_for([@websitenew],
                              data: {action: "submit->search-form#search"}) do |f| %>
            <div class="search-form-control form-group">
              <div class="search-bar">
                <div class="pe-0 mb-3 search-bar-http-www-text search-form-control flex-shrink-1">
                  <h5 class="p-0 m-0">https://www.</h5>
                </div>
                <div class="search-bar-content flex-grow-1">
                  <%= f.input :url, placeholder: "onedegreedesign.com", label: false, class:"border-start-0 search-input" %>
                </div>
                <%= f.submit "Test my site now ⟶", class: "btn btn-flat mb-3 ms-3 btn-search"%>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
<%# WEBSITE %>
<div class="green-container-dashboard mb-5 pb-5" data-dark-mode-target="green">
  <div class="spacer"></div>
  <div class="container mt-5">
    <% @websites.each do |website| %>
      <%= render 'shared/version_card', website: website %>
    <% end %>
    <%# erase versions that are the same or validations %>
  </div>
</div>
