<div class="container text-start">
  <div class="banner box">
      <h1>Your <span class="highlight orange-highlight">results</span> for <%= @version.website.url[12..-1] %></h1>
      <p> How's your carbon footprint?</p>
  </div>


    <div class = card-stat>
      <div class = card-hosting>
        <div>
          <% if @version.cleaner_than > 0.5 %>
            <h1>👍</h1>
        <% else %>
          <h1>👎</h1>
        <% end %>
        </div>
        <div>
          <% if @version.cleaner_than > 0.5 %>
            <p>Cleaner than <strong class="green"><%= (@version.cleaner_than * 100).to_i %>% of sites tested!</strong></p>
          <% else %>
            <p>Dirtier than <strong class="red"><%= 100 - (@version.cleaner_than * 100).to_i %>% of sites tested.</strong></p>
          <% end %>
        <% if @version.green_hosting %>
            <p>Your site is using green hosting!</p>
          <% else %>
            <p>You're not using green hosting!</p>
          <% end %>

        </div>
      </div>


      <div class = card-megabyte>
        <div>
          <img src="https://img.icons8.com/color/48/000000/statistics.png" alt="Megabytes" class ="card-megabytes-image"/>
        </div>
        <div>
          <p><strong><%= @version.bytes/1000000 %> megabytes</strong></p>
          <p></p>The overall size of your site.
        </div>
      </div>
    </div>

  <%# <div class="testyoursite text-center row">
    <div class="col-12 mb-3">
      <h2>Stats</h2>
    </div>
    <div class="col-12 col-xl-6 col-lg-6 mx-auto">
      <% if @version.green_hosting %>
        <%# <p>Your site is using green hosting!</p> %>
      <%# <% else %>
        <%# <p>You're not using green hosting </p> %>
      <%# <% end %>
      <%# The size of your site is <%= @version.bytes/1000000 megabytes. %>
      <%# Your site is cleaner than <%= @version.cleaner_than*100 % of sites tested! %>

    <%# </div>
  </div>
</div>  %>
</div>

<div class="green-container-show black-background" data-dark-mode-target="green">
  <div class="container mt-5">
    <div>
      <div class="detail">
        <h1>Summary</h1>
      </div>
      <div class="cards">
        <div class="card-title">
          Images
          <div class="card-category">
            <p>Three of the largest images on your site are <strong><%= eval(@version.photos[0])[:dimensions][0] %> x <%= eval(@version.photos[0])[:dimensions][1] %> px, <%= eval(@version.photos[1])[:dimensions][0] %> x <%= eval(@version.photos[1])[:dimensions][1] %> px, and <%= eval(@version.photos[2])[:dimensions][0] %> x <%= eval(@version.photos[2])[:dimensions][1] %> px.</strong></p>
            <br>
            <p><strong>Recommendation:</strong>
            <br>
            Compress image files and use the most efficient file formats possible.</p>
              <div class="mt-4 mb-2">
                <a href = "#reducingimages">
                  <button name="button" type="submit" class="btn btn-flat">
                    Learn More ⟶
                  </button>
                </a>
              </div>
          </div>
        </div>
          <%#  <% if @version.photos %>
            <%# <div class="d-flex"> %>
              <%# <% @version.photos.each do |photo| %>
                <%# <% photo = eval(photo) %>
  <%#               <img class="website-photos" src="<%=photo[:url]" alt="website photos">  %>
              <%# <% end %>
            <%# </div> %>
            <%# <% end %>

        <div class="card-title">
          Fonts
          <div class="card-category">
            <% if @version.font_families == [] %>
              <h2>Nice work!</h2>
              <p> You're using low-energy browser standard fonts. Fonts like Open Sans, Times New Roman, Georgia, Arial or Helvetica, to name a few, don't add any extra weight to your site.</p>
            <% else %>
              <p>The top 3 most-used fonts on your site are <strong><%= @version.font_families[0] %>, <%= @version.font_families[1] %>, and <%= @version.font_families[2] %>.</strong></p>
              <p><strong>Recommendation:</strong>
              <br>
              Reduce font file sizes or use browser standard fonts.</p>
              <div class="mt-4 mb-2">
                <a href = "#reducingfont">
                  <button name="button" type="submit" class="btn btn-flat">
                    Learn More ⟶
                  </button>
                </a>
              </div>
            <% end %>
          </div>
        </div>

        <div class="card-title">
          Background Colors
          <div class="card-category">
            <p>Most-used background colors on your site:</p>
            <div class="background-colors">
              <div class="background-color-display" style="background-color: <%= @version.background_color[0] %>">
                <p><%= @version.background_color[0] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[1] %>">
                <p><%= @version.background_color[1] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[2] %>">
                <p><%= @version.background_color[2] %></p>
              </div>
            </div>
            <p><strong>Recommendation:</strong>Use background colors that consume less energy on OLED screens.</p>
            <div class="mt-4 mb-2">
              <a href = "#reducingbackground">
                <button name="button" type="submit" class="btn btn-flat">
                  Learn More ⟶
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div id = "reducingimages" class="image-analysis" >
      <div class="analysis-banner">
        <h1><span class="highlight">Reducing</span> image file size</h1>
      </div>

      <div class="row analysis-row" style="padding-bottom: 8px">
        <div class="analysis-card col-4">
          <img src="<%= eval(@version.photos[0])[:url] %>" alt="">
        </div>

        <div class="tip-card col-8">
          <div class="results">
            <div class="current">
              <h3>CURRENT SIZE</h3>
              <p><%= eval(@version.photos[0])[:dimensions][0] %> x <%= eval(@version.photos[0])[:dimensions][1] %> px</p>
            </div>
            <div class="reduced">
              <h3>REDUCED</h3>
              <p><%= eval(@version.photos[0])[:dimensions][0]/10 %> x <%= eval(@version.photos[0])[:dimensions][1]/10 %> px</p>
            </div>
            <div class="smaller">
              <h3>SMALLER</h3>
              <p><strong>90%</strong></p>
            </div>
          </div>
          <div class="solutions p-3">
          <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i>  Use fewer pixels</h2>
          <%# <p>This image is  <strong><%= eval(@version.photos[0])[:dimensions][0] x <%= eval(@version.photos[0])[:dimensions][1] pixels</strong></p>%>
          <p>Are your image files larger than their container? Generally speaking, image pixel sizes should be no larger than their div container. For example, if your div is 500 x 400px but your image is 3000 x 2000 px, your user will never see the extra pixels, and your large file will increase your carbon footprint.</p>
          <p>Learn More</p>
          </div>
        </div>

      </div>





      <div class="row analysis-row">
        <div class="tip-card col-8">
          <div class="file">
          <div class="results">
            <div class="curret">
              <h3>CURRENT FILE TYPE</h3>
              <p><%= eval(@version.photos[1])[:type] %></p>
            </div>
            <div class="reduced">
              <h3>COMPRESSED FILE TYPE</h3>
              <p>avif</p>
            </div>
            <div class="smaller">
              <h3>SMALLER</h3>
              <p><strong>50-80%</strong></p>
            </div>
          </div>

              <div class="solutions">
                <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Use  efficient file types</h2>
                <p>Did you know some image file types are much more efficient than others? Web-optimized file types like WebP and AVIF can be dramatically smaller than commonly-used formats like jpg and png.</p>
                <p><a href="https://jakearchibald.com/2020/avif-has-landed/">Learn More</a></p>
              </div>
          </div>
        </div>

        <div class="analysis-card col-4">
          <img src="<%= eval(@version.photos[1])[:url] %>" alt="">
        </div>

      </div>

      <div class="row analysis-row">
        <div class="analysis-card col-4">
          <img src="<%= eval(@version.photos[2])[:url] %>" alt="">

        </div>

        <div class="tip-card col-8">
          <div class="file">
            <div class="results">
              <div class="curret">
                <h3>APPROX. FILE SIZE</h3>
                <p><strong> <%= eval(@version.photos[2])[:size]/5000.to_f.round(2) %></strong> kb</p>
              </div>
              <div class="reduced">

              </div>
              <div class="smaller">

              </div>
          </div>
            <!-- calculation based on https://www.omnicalculator.com/other/image-file-size -->
              <div class="solutions">
                <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Compress images</h2>
                <p>Properly compressed images have little to no impact on user experience, and reduce your carbon footprint.</p>
                <p>Learn More</p>
              </div>
          </div>
        </div>
      </div>
    </div>



    <%#<% if @version.font_families == [] %>
    <%#<% else  %>

   <div id = "reducingfont" class="image-analysis">
      <div class="analysis-banner">
        <h1><span class="highlight">Reducing</span> font file size</h1>
      </div>
            <div class="row analysis-row">
        <div class="tip-card col-8">
          <div class="file">
          <div class="results">
            <div class="curret">
              <h3>CURRENT FONTS</h3>
              <p><%= @version.font_families[0] %>, <%= @version.font_families[1] %>, <%= @version.font_families[2] %> </p>
            </div>
            <div class="smaller">
              <h3>APPROX. SIZE</h3>
              <p><strong>up to 1.2mb</strong></p>
            </div>
          </div>

              <div class="solutions">
                <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Consider browser standard fonts</h2>
                <p> <span style="font-family:serif;"> Here's how default Serif, </span><span style="font-family:sans-serif;"> Sans Serif, </span><span style="font-family:serif;"> and Mono fonts display in your browser.</span> Many designers look down on browser-default fonts, but did you know that each web font you use can add up to 400kb to your site?</p>
                <p><a href="https://www.smashingmagazine.com/2019/06/optimizing-google-fonts-performance/">Learn More</a></p>
              </div>
          </div>
        </div>
      </div>

      <div class="row analysis-row" style="padding-bottom: 8px">
        <div class="analysis-card col-4">

        </div>

        <div class="tip-card col-8">
          <div class="results">
            <div class="curret">
              <h3>CURRENT SIZE</h3>
              <p><%= eval(@version.photos[0])[:dimensions][0] %> x <%= eval(@version.photos[0])[:dimensions][1] %> px</p>
            </div>
            <div class="reduced">
              <h3>REDUCED</h3>
              <p><%= eval(@version.photos[0])[:dimensions][0]/10 %> x <%= eval(@version.photos[0])[:dimensions][1]/10 %> px</p>
            </div>
            <div class="smaller">
              <h3>SMALLER</h3>
              <p><strong>90%</strong></p>
            </div>
          </div>
          <div class="solutions">
          <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Reduce web font file size</h2>
          <%# <p>This image is  <strong><%= eval(@version.photos[0])[:dimensions][0] x <%= eval(@version.photos[0])[:dimensions][1] pixels</strong></p>%>
          <p>OK, we get it! You love your web fonts and don't want to change them. There's still lots you can do to reduce file size, page load times, and the carbon footprint of your site.</p>
          <p>Learn More</p>
          </div>
        </div>

      </div>

    </div>
  <%#<% end  %>


     <div id = "reducingbackground" class="image-analysis">
      <div class="analysis-banner">
        <h1><span class="highlight">Change</span> your background color</h1>
      </div>

      <div class="row analysis-row">


        <div class="tip-card col-6">
          <div class="background-solutions">
            <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i>Did you know?</h2>
            <p>Some background colors use a LOT more energy than others. For example, a black background can use up to 80% less energy on OLED screens!</p>
          </div>
        </div>

        <div class="analysis-card-title col-6">
          <div class="analysis-card">
            <div class="background-colors">
              <div class="background-color-display" style="background-color: <%= @version.background_color[0] %>">
                <p><%= @version.background_color[0] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[1] %>">
                <p><%= @version.background_color[1] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[2] %>">
                <p><%= @version.background_color[2] %></p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row analysis-row">



        <div class="analysis-card-title col-6">
          <div class="analysis-card">
            <p>Test</p>
          </div>
        </div>


        <div class="tip-card col-6">
          <div class="background-solutions">
            <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i>Advice</h2>
            <p>Choose cooler colors like black, red, or blue for backgrounds. Offer the user a “dark mode” button to switch to a dark background.</p>

          </div>
        </div>

      </div>

    </div>

</div>



<%#  adjusted_bytes: carbon_infos["statistics"]["adjustedBytes"], energy: carbon_infos["statistics"]["energy"], co2: carbon_infos["statistics"]["co2"]["grid"]["grams"], co2_renewable: carbon_infos["statistics"]["co2"]["renewable"]["grams"], all_images_size: @all_images_size, background_color: background_color, font_families: font_families ) %>
