<div class="container position-relative text-start">

  <div class="banner box">
      <h1>Your <span class="highlight orange-highlight" data-dark-mode-target="highlight">results</span> for <%= @version.website.url[12..-1] %></h1>
      <p> How's your carbon footprint?</p>
  </div>

  <div class="p-0 m-0 w-100 position-absolute card-stat-container">
    <div class="card-stat">
      <div class="card-hosting row">
        <div class="col-12 col-lg-6">
          <% if @version.cleaner_than > 0.5 %>
            <h1>👍</h1>
          <% else %>
            <h1>👎</h1>
          <% end %>
        </div>
        <div class="col-12 col-lg-6">
          <% if @version.cleaner_than > 0.5 %>
            <p>Cleaner than <strong class="green"><%= (@version.cleaner_than * 100).to_i %>% of sites tested!</strong></p>
          <% else %>
            <p>Dirtier than <strong class="red"><%= 100 - (@version.cleaner_than * 100).to_i %>% of sites tested.</strong></p>
          <% end %>
          <% if @version.green_hosting %>
            <p>Your site is using green hosting!</p>
          <% else %>
            <p>You're not using green hosting!</p>
          <% end %>
        </div>
      </div>

      <div class="card-megabyte row">
        <div class="col-12 col-lg-6">
          <h1 style="font-size: 3.5rem;">💻</h1>
        </div>
        <div class="col-12 col-lg-6">
          <p><strong><%= (@version.bytes/1000000).round(2) %> megabytes</strong></p>
          <p>The size of your site</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="green-container-show black-background" data-dark-mode-target="green">
  <div class="container mt-5">
    <div>
      <div class="detail">
        <h1>Summary</h1>
      </div>
      <div class="cards ms-0 me-0">
        <div class="card-title">
          Images
          <div class="card-category">
            <p>Three of the largest images on your site are <strong><%= eval(@version.photos[0])[:dimensions][0] %> x <%= eval(@version.photos[0])[:dimensions][1] %> px, <%= eval(@version.photos[1])[:dimensions][0] %> x <%= eval(@version.photos[1])[:dimensions][1] %> px, and <%= eval(@version.photos[2])[:dimensions][0] %> x <%= eval(@version.photos[2])[:dimensions][1] %> px.</strong></p>
            <br>
            <p><strong>Recommendation:</strong>
            <br>
            Compress image files and use the most efficient file formats possible.</p>
              <div class="mt-4 mb-2">
                <a href = "#reducingimages">
                  <button name="button" type="submit" class="btn btn-flat">
                    Learn More ⟶
                  </button>
                </a>
              </div>
          </div>
        </div>
        <div class="card-title">
          Fonts
          <div class="card-category">
            <% if @version.font_families == [] %>
              <h2>Nice work!</h2>
              <p> You're using low-energy browser standard fonts. Fonts like <strong>Open Sans, Times New Roman, Georgia, Arial or Helvetica</strong>, to name a few, don't add any extra weight to your site.</p>
            <% else %>
              <p>The top 3 most-used fonts on your site are <strong><%= @version.font_families[0] %>, <%= @version.font_families[1] %>, and <%= @version.font_families[2] %>.</strong></p>
              <p><strong>Recommendation:</strong>
              <br>
              Reduce font file sizes or use browser standard fonts.</p>
              <div class="mt-4 mb-2">
                <a href = "#reducingfont">
                  <button name="button" type="submit" class="btn btn-flat">
                    Learn More ⟶
                  </button>
                </a>
              </div>
            <% end %>
          </div>
        </div>

        <div class="card-title">
          Background Colors
          <div class="card-category">
            <p>Most-used background colors on your site:</p>
            <div class="background-colors">
              <div class="background-color-display" style="background-color: <%= @version.background_color[0] %>">
                <p><%= @version.background_color[0] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[1] %>">
                <p><%= @version.background_color[1] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[2] %>">
                <p><%= @version.background_color[2] %></p>
              </div>
            </div>
            <br>
            <p><strong>Recommendation:</strong>
            <br>
            Use background colors that consume less energy on OLED screens.</p>
            <div class="mt-4 mb-2">
              <a href = "#reducingbackground">
                <button name="button" type="submit" class="btn btn-flat">
                  Learn More ⟶
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div id = "reducingimages" class="image-analysis" >
      <div class="analysis-banner">
        <h1>Reducing image file size</h1>
      </div>

      <div class="row analysis-row" style="padding-bottom: 8px">
        <div class="analysis-card col-4">
          <img src="<%= eval(@version.photos[0])[:url] %>" alt="">
        </div>

        <div class="tip-card pe-0 col-8">
          <div class="results">
            <div class="current">
              <h3>CURRENT SIZE</h3>
              <p><%= eval(@version.photos[0])[:dimensions][0] %> x <%= eval(@version.photos[0])[:dimensions][1] %> px</p>
            </div>
            <div class="reduced">
              <h3>REDUCED</h3>
              <p><%= eval(@version.photos[0])[:dimensions][0]/10 %> x <%= eval(@version.photos[0])[:dimensions][1]/10 %> px</p>
            </div>
            <div class="smaller">
              <h3>SMALLER</h3>
              <p><strong>90%</strong></p>
            </div>
          </div>
          <div class="solutions" data-dark-mode-target="image">
          <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Use fewer pixels</h2>
          <%# <p>This image is  <strong><%= eval(@version.photos[0])[:dimensions][0] x <%= eval(@version.photos[0])[:dimensions][1] pixels</strong></p>%>
          <p>Are your image files larger than their container? Generally speaking, image pixel sizes should be no larger than their div container. For example, if your div is 500 x 400px but your image is 3000 x 2000 px, your user will never see the extra pixels, and your large file will increase your carbon footprint.</p>
          <p class="mb-0"><a href="">Learn More</a></p>
          </div>
        </div>

      </div>





      <div class="row analysis-row">
        <div class="tip-card ps-0 col-8">
          <div class="file">
          <div class="results">
            <div class="current">
              <h3>CURRENT FILE TYPE</h3>
              <p><%= eval(@version.photos[1])[:type] %></p>
            </div>
            <div class="reduced">
              <h3>COMPRESSED FILE TYPE</h3>
              <p>avif</p>
            </div>
            <div class="smaller">
              <h3>SMALLER</h3>
              <p><strong>50-80%</strong></p>
            </div>
          </div>

              <div class="solutions" data-dark-mode-target="file">
                <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Use  efficient file types</h2>
                <p>Did you know some image file types are much more efficient than others? Web-optimized file types like WebP and AVIF can be dramatically smaller than commonly-used formats like jpg and png.</p>
                <p><a href="https://jakearchibald.com/2020/avif-has-landed/">Learn More</a></p>
              </div>
          </div>
        </div>

        <div class="analysis-card col-4">
          <img src="<%= eval(@version.photos[1])[:url] %>" alt="">
        </div>

      </div>

      <div class="row analysis-row">
        <div class="analysis-card col-4">
          <img src="<%= eval(@version.photos[2])[:url] %>" alt="">

        </div>

        <div class="tip-card pe-0 col-8">
          <div class="file">
            <div class="results">
              <div class="current">
                <h3>APPROX. FILE SIZE</h3>
                <p><strong> <%= eval(@version.photos[2])[:size]/5000 %></strong> kb</p>
              </div>
              <div class="reduced">

              </div>
              <div class="smaller">

              </div>
          </div>
            <!-- calculation based on https://www.omnicalculator.com/other/image-file-size -->
              <div class="solutions" data-dark-mode-target="size">
                <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Compress images</h2>
                <p>Properly compressed images have little to no impact on user experience, and reduce your carbon footprint.</p>
                <p><a href="">Learn More</a></p>
              </div>
          </div>
        </div>
      </div>
    </div>



    <%#<% if @version.font_families == [] %>
    <%#<% else  %>

   <div id = "reducingfont" class="image-analysis">
      <div class="analysis-banner">
        <h1>Reducing font file size</h1>
      </div>
            <div class="row analysis-row">
        <div class="tip-card  ps-0 col-8">
          <div class="file">
          <div class="results">
            <div class="current">
              <h3>CURRENT FONTS</h3>
              <p><%= @version.font_families[0] %>, <%= @version.font_families[1] %>, <%= @version.font_families[2] %> </p>
            </div>
            <div class="smaller">
              <h3>APPROX. SIZE</h3>
              <p><strong>up to 1.2mb</strong></p>
            </div>
          </div>

              <div class="solutions" data-dark-mode-target="font">
                <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Consider browser standard fonts</h2>
                <p> Here's how default<span style="font-family:serif;"> Serif </span>,<span style="font-family:sans-serif;"> Sans Serif </span>,and <span style="font-family:serif;"> Mono fonts </span>display in your browser. Many designers look down on browser-default fonts, but did you know that each web font you use can add up to 400kb to your site?</p>
                <p><a href="https://www.smashingmagazine.com/2019/06/optimizing-google-fonts-performance/">Learn More</a></p>
              </div>
          </div>
        </div>
      </div>

      <div class="row analysis-row" style="padding-bottom: 8px">
        <div class="analysis-card col-4" style="background: transparent;">
        </div>

        <div class="tip-card pe-0 col-8">
          <div class="results">
            <div class="current">
              <h3>REDUCED WEB FONT FORMATS</h3>
              <p>WOFF2</p>
            </div>
            <div class="reduced">
              <h3>SIZE REDUCTION</h3>
              <p>90%</p>
            </div>
          </div>
          <div class="solutions" data-dark-mode-target="format">
          <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Reduce web font file size</h2>
          <%# <p>This image is  <strong><%= eval(@version.photos[0])[:dimensions][0] x <%= eval(@version.photos[0])[:dimensions][1] pixels</strong></p>%>
          <p>OK, we get it! You love your web fonts and don't want to change them. There's still lots you can do to reduce file size, page load times, and the carbon footprint of your site.</p>
          <p><a href="">Learn More</a></p>
          </div>
        </div>

      </div>

    </div>
  <%#<% end  %>


     <div id = "reducingbackground" class="image-analysis">
      <div class="analysis-banner">
        <h1>Change your background color</h1>
      </div>


            <div class="row analysis-row">
        <div class="tip-card ps-0 col-8">
          <div class="file">
          <div class="results">
            <div class="current">
              <h3>CURRENT BACKGROUND COLORS</h3>
               <div class="background-color-container d-flex justify-content-center">
                  <% @version.background_color.each do |color| %>
                    <div class="background-color-sample" style='background-color: <%=color%>;border-color: white;'></div>
                  <% end %>
              </div>
            </div>

            <div class="reduced">
              <h3>RECOMMENDED COLORS</h3>
                <div class="background-color-container d-flex justify-content-center">

                    <div class="background-color-sample" style="background-color: black;border-color: white"></div>
                    <div class="background-color-sample" style='background-color: #E4140C;border-color: white'></div>
                    <div class="background-color-sample" style='background-color: #1C4752;border-color: white'></div>

              </div>
            </div>
            <div class="smaller">
              <h3>REDUCED ENERGY</h3>
              <p><strong>20-50%</strong></p>
            </div>
          </div>

              <div class="solutions" data-dark-mode-target="color">
                <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i> Use  darker background colors</h2>
                <p>Some background colors use a LOT more energy than others. For example, a black background can use up to 80% less energy on OLED screens! Choose cooler colors like black, red, or blue for backgrounds. Offer the user a “dark mode” button to switch to a dark background.</p>
                <p><a href="https://jakearchibald.com/2020/avif-has-landed/">Learn More</a></p>
              </div>
          </div>
        </div>

        <div class="analysis-card col-4" style="margin-top: 32px;">
          <img src="https://cdn.shortpixel.ai/spai3/w_1680+q_glossy+ret_img+to_auto/https://www.wholegraindigital.com/wp-content/uploads/2022/03/Capture.jpg" alt="">
        </div>

      </div>
    </div>
  <div class="spacer black-background" data-dark-mode-target="spacer"></div>

</div>
