<div class="container text-start">
  <div class="banner box">
      <h1>Your <span class="highlight">results</span> for <%= @version.website.url[12..-1] %></h1>
      <p> How's your carbon footprint?</p>
  </div>


    <div class = card-stat>
      <div class = card-hosting>
        <div>
          <img src="https://img.icons8.com/emoji/48/000000/party-popper.png" alt="good job" class ="card-hosting-image"/>
        </div>
        <div>
        <div class="card-hosting-text">
          <% if @version.green_hosting %>
              <h3><strong>Your site is using green hosting!</strong></h3>
            <% else %>
              <h3><strong>You're not using green hosting!</strong></h3>
            <% end %>
          <h3>Your site is cleaner than <%= @version.cleaner_than*100 %> % of sites tested!</h3>
        </div>
      </div>
      </div>

      <div class = card-megabyte>
        <div>
          <img src="https://img.icons8.com/color/48/000000/statistics.png" alt="Megabytes" class ="card-megabytes-image"/>
        </div>
        <div>
          <div class="card-megabyte-text">
            <h3><strong><%= @version.bytes/1000000 %> megabytes.</strong></h3>
            <h3>The size of your site</h3>
          </div>
        </div>
      </div>
    </div>

  <%# <div class="testyoursite text-center row">
    <div class="col-12 mb-3">
      <h2>Stats</h2>
    </div>
    <div class="col-12 col-xl-6 col-lg-6 mx-auto">
      <% if @version.green_hosting %>
        <%# <p>Your site is using green hosting!</p> %>
      <%# <% else %>
        <%# <p>You're not using green hosting </p> %>
      <%# <% end %>
      <%# The size of your site is <%= @version.bytes/1000000 megabytes. %>
      <%# Your site is cleaner than <%= @version.cleaner_than*100 % of sites tested! %>

    <%# </div>
  </div>
</div>  %>
</div>

<div class="green-container-show" data-dark-mode-target="green">
  <div class="container mt-5">
    <div>
      <div>
        <h1>Details</h1>
      </div>
      <div class="cards">
        <div class="card-title">
          Images
          <div class="card-category">
            <p>3 largest imagefiles onyour site.</p>
            <br>
            <p><strong>Recommendation:</strong></p>
            Compress image files and use the most efficient file formats possible.
              <div class="mt-4 mb-2">
                <a href = "#reducingimages">
                  <button name="button" type="submit" class="btn btn-flat">
                    Learn More
                  </button>
                </a>
              </div>
          </div>
        </div>
          <%#  <% if @version.photos %>
            <%# <div class="d-flex"> %>
              <%# <% @version.photos.each do |photo| %>
                <%# <% photo = eval(photo) %>
  <%#               <img class="website-photos" src="<%=photo[:url]" alt="website photos">  %>
              <%# <% end %>
            <%# </div> %>
            <%# <% end %>

        <div class="card-title">
          Fonts
          <div class="card-category">
            <% if @version.font_families == [] %>
              <h2>Nice work!</h2>
              <p> You're using low-energy browser standard fonts. Fonts like Open Sans, Times New Roman, Georgia, Arial or Helvetica, to name a few, don't add any extra weight to your site.</p>
            <% else %>
              <p>The top 3 most-used fonts on your site are <%= @version.font_families[0] %>, <%= @version.font_families[1] %>, and <%= @version.font_families[2] %>.</p>
              <p><strong>Recommendation:</strong></p>
              <br>
              Reduce font file sizes or use browser standard fonts.
              <div class="mt-4 mb-2">
                <a href = "#reducingfont">
                  <button name="button" type="submit" class="btn btn-flat">
                    Learn More
                  </button>
                </a>
              </div>
            <% end %>
          </div>
        </div>

        <div class="card-title">
          Background Colors
          <div class="card-category">
            <p>Most-used background colors on your site:</p>
            <div class="background-colors">
              <div class="background-color-display" style="background-color: <%= @version.background_color[0] %>">
                <p><%= @version.background_color[0] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[1] %>">
                <p><%= @version.background_color[1] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[2] %>">
                <p><%= @version.background_color[2] %></p>
              </div>
            </div>
            <p><strong>Recommendation:</strong>Use background colors that consume less energy on OLED screens.</p>
            <div class="mt-4 mb-2">
              <a href = "#reducingbackground">
                <button name="button" type="submit" class="btn btn-flat">
                  Learn More
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>





    <div id = "reducingimages" class="image-analysis" >
      <div class="analysis-banner">
        <h1><span class="highlight">Reducing</span> image file size</h1>
      </div>

      <div class="row analysis-row">
        <div class="analysis-card-title col-6">
          <div class="analysis-card">
            <img src="<%= eval(@version.photos[0])[:url] %>" alt="" class="analysis-card-image">
          </div>
        </div>

        <div class="tip-card col-6">
          <div class="results">
            <div class="curret">
              <p>CURRENT SIZE</p>
              <%= eval(@version.photos[0])[:dimensions][0] %> x <%= eval(@version.photos[0])[:dimensions][1] %> px
            </div>
            <div class="reduced">
              <p>REDUCED IMAGE</p>
              exemple 800 x 600 px
            </div>
            <div class="smaller">
              <p>SMALLER</p>
              exemple 90%%
            </div>
          </div>
          <div class="solutions p-3">
          <h2><i class="fa-solid fa-lightbulb" data-dark-mode-target="bulb"></i>  Use fewer pixels</h2>
          <%# <p>This image is  <strong><%= eval(@version.photos[0])[:dimensions][0] x <%= eval(@version.photos[0])[:dimensions][1] pixels</strong></p>%>
          <p>Are you displaying images on your site at the right resolution? If your div is 300 x 200px and your image is 3000 x 2000 px, the image resolution is too large - the user won’t see it, and it wastes energy on your site. Change the file size!</p>
          </div>
        </div>

      </div>

      <div class="row analysis-row">
        <div class="tip-card col-6">
          <h2>Use  efficient file types</h2>
          <p>This image is a <strong><%= eval(@version.photos[1])[:type] %></strong> </p>
          <p>Did you know some image file types are much more efficient than others? Roughly speaking, at an acceptable quality, the WebP is almost half the size of JPEG, and AVIF is under half the size of WebP. https://jakearchibald.com/2020/avif-has-landed/</p>

        </div>

        <div class="analysis-card col-6">
          <img src="<%= eval(@version.photos[1])[:url] %>" alt="">
        </div>

      </div>

      <div class="row analysis-row">
        <div class="analysis-card col-6">
          <img src="<%= eval(@version.photos[2])[:url] %>" alt="">

        </div>

        <div class="tip-card col-6">
          <h2>Compress images</h2>
          <p>This image is approximately <strong> <%= eval(@version.photos[2])[:size] %></strong> pixels</p>
          <p>https://www.omnicalculator.com/other/image-file-size Compressed images take up much less space, and don't consume as much energy. We recommend the following sites:
              Link
              Link
              Link</p>
        </div>
      </div>
    </div>



    <% if @version.font_families == [] %>
    <% else  %>
   <div id = "reducingfont" class="image-analysis">
      <div class="analysis-banner">
        <h1><span class="highlight">Reducing</span> font file size</h1>
      </div>

      <div class="row analysis-row">

        <div class="tip-card col-6">
          <h2>Consider browser-default fonts.</h2>
          <p>Your site uses <strong><%= @version.font_families[0] %>, <%= @version.font_families[1] %>, and <%= @version.font_families[2] %></strong> fonts.</p>
          <p>Many designers look down on browser-default fonts, but did you know that each web font you use can add up to 400kb to your site?</p>
          <p>https://www.smashingmagazine.com/2019/06/optimizing-google-fonts-performance/</p>
        </div>

        <div class="analysis-card-title col-6">
          <div class="analysis-card">
            <h2></h2>
            <h2 style="font-family:serif;">Here's how default Serif</h2>
            <h2 style="font-family:sans-serif;">Sans Serif,</h2>
            <h2 style="font-family:mono;">and Mono fonts display in your browser.</h2>
          </div>
        </div>

      </div>

      <div class="row analysis-row">

        <div class="analysis-card-title col-6">
          <div class="analysis-card">
            <p>Test</p>
          </div>
        </div>

        <div class="tip-card col-6">
          <h2>Reduce web font file size</h2>
          <p>OK, we get it! You love your web fonts and don't want to change them. There's still lots you can do to reduce file size, page load times, and the carbon footprint of your site.
        </div>


      </div>

    </div>
  <% end  %>


     <div id = "reducingbackground" class="image-analysis">
      <div class="analysis-banner">
        <h1><span class="highlight">Change</span> your background color</h1>
      </div>

      <div class="row analysis-row">


        <div class="tip-card col-6">
          <h2>Did you know?</h2>
          <p>Some background colors use a LOT more energy than others. For example, a black background can use up to 80% less energy on OLED screens!</p>
        </div>

        <div class="analysis-card-title col-6">
          <div class="analysis-card">
            <div class="background-colors">
              <div class="background-color-display" style="background-color: <%= @version.background_color[0] %>">
                <p><%= @version.background_color[0] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[1] %>">
                <p><%= @version.background_color[1] %></p>
              </div>
              <div class="background-color-display" style="background-color: <%= @version.background_color[2] %>">
                <p><%= @version.background_color[2] %></p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row analysis-row">



        <div class="analysis-card-title col-6">
          <div class="analysis-card">
            <p>Test</p>
          </div>
        </div>


         <div class="tip-card col-6">
          <h2>Advice</h2>
          <p>Choose cooler colors like black, red, or blue for backgrounds. Offer the user a “dark mode” button to switch to a dark background.</p>
        </div>


      </div>

    </div>

</div>



<%#  adjusted_bytes: carbon_infos["statistics"]["adjustedBytes"], energy: carbon_infos["statistics"]["energy"], co2: carbon_infos["statistics"]["co2"]["grid"]["grams"], co2_renewable: carbon_infos["statistics"]["co2"]["renewable"]["grams"], all_images_size: @all_images_size, background_color: background_color, font_families: font_families ) %>
