<div class="container text-start">
  <div class="banner box">
      <h1>Your <span class="highlight">results</span> for <%= @version.website.url[12..-1] %></h1>
      <p> How's your carbon footprint?</p>
  </div>
  <div class="testyoursite text-center row">
    <div class="col-12 mb-3">
      <h2>Stats</h2>
    </div>
    <div class="col-12 col-xl-6 col-lg-6 mx-auto">
      <% if @version.green_hosting %>
        <p>Your site is using green hosting!</p>
      <% else %>
        <p>You're not using green hosting :(</p>
      <% end %>
      The size of your site is <%= @version.bytes/1000000 %> megabytes.
      Your site is cleaner than <%= @version.cleaner_than*100 %> % of sites tested!

    </div>
  </div>
</div>

<div class="green-container-show">
  <div class="container">
    <div class="cards">
      <div class="card-title">
        Images
        <div class="card-category">
          <p>Some of the largest image files on your site:</p>
          <% if @version.photos %>
          <div class="d-flex">
            <% @version.photos.each do |photo| %>
              <% photo = eval(photo) %>
              <img class="website-photos" src="<%=photo[:url]%>" alt="website photos">
            <% end %>
          </div>
          <% end %>
          <p><strong>Recommendation:</strong></p>
          Compress image files and use the most efficient file formats possible.
          <div class="mt-4 mb-2">
            <button name="button" type="submit" class="btn btn-flat">
              Learn More
            </button>
          </div>
        </div>
      </div>

      <div class="card-title">
        Fonts
        <div class="card-category">
          <% if @version.font_families == [] %>
            <h2>Nice work!</h2>
            <p> You're using low-energy browser standard fonts. Fonts like Open Sans, Times New Roman, Georgia, Arial or Helvetica, to name a few, don't add any extra weight to your site.</p>
          <% else %>
            <p>The top 3 most-used fonts on your site are <%= @version.font_families[0] %>, <%= @version.font_families[1] %>, and <%= @version.font_families[2] %>.</p>
            <p><strong>Recommendation:</strong>Reduce font file sizes or use browser standard fonts.</p>
            <div class="mt-4 mb-2">
              <button name="button" type="submit" class="btn btn-flat">
                Learn More
              </button>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card-title">
      Background Colors
        <div class="card-category">
          <p>Most-used background colors on your site:</p>
          <div class="background-colors">
            <div class="background-color-display" style="background-color: <%= @version.background_color[0] %>">
              <p><%= @version.background_color[0] %></p>
            </div>
            <div class="background-color-display" style="background-color: <%= @version.background_color[1] %>">
              <p><%= @version.background_color[1] %></p>
            </div>
            <div class="background-color-display" style="background-color: <%= @version.background_color[2] %>">
              <p><%= @version.background_color[2] %></p>
            </div>
          </div>
          <p><strong>Recommendation:</strong>Use background colors that consume less energy on OLED screens.</p>
          <div class="mt-4 mb-2">
            <button name="button" type="submit" class="btn btn-flat">
              Learn More
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="image-analysis">
      <div class="banner box">
        <h1><span class="highlight">Reducing</span> image file size</h1>
      </div>
      <div class="row">
        <div class="analysis-card-left col-6">
          <img src="<%= eval(@version.photos[0])[:url] %>" alt="">
          <p><strong>Dimensions:</strong> <%= eval(@version.photos[0])[:dimensions][0] %> x <%= eval(@version.photos[0])[:dimensions][1] %></p>
        </div>
        <div class="tip-card-right col-6">
          <h2>Use fewer pixels</h2>
          <p>Are you displaying images on your site at the right resolution? If your div is 300 x 200px and your image is 3000 x 2000 px, the image resolution is too large - the user won’t see it, and it wastes energy on your site. Change the file size!</p>
        </div>
      </div>
      <div class="row">
        <div class="tip-card-left col-6">
          <h2>Use  efficient file types</h2>
          <p>Did you know some image file types are much more efficient than others? </p>

        </div>
        <div class="analysis-card-right col-6">
          <img src="<%= eval(@version.photos[1])[:url] %>" alt="">
          <p><strong>File type:</strong> <%= eval(@version.photos[1])[:type] %></p>
        </div>
      </div>
      <div class="row">
        <div class="analysis-card-left col-6">
          <img src="<%= eval(@version.photos[2])[:url] %>" alt="">
          <p><strong>Estimated file size:</strong> <%= eval(@version.photos[2])[:size] %></p>
        </div>
        <div class="tip-card-right col-6">
          <h2>Compress images</h2>
          <p>Compressed images take up much less space, and don't consume as much energy. We recommend the following sites:
              Link
                      Link
                    Link</p>
        </div>
      </div>
    </div>

    <br>
    <div class="banner box">
      <h1><span class="highlight">Font</span> analysis</h1>
    </div>
    <br>
    <div class="banner box">
      <h1><span class="highlight">Background color</span> analysis</h1>
    </div>

  </div>
</div>



<%#  adjusted_bytes: carbon_infos["statistics"]["adjustedBytes"], energy: carbon_infos["statistics"]["energy"], co2: carbon_infos["statistics"]["co2"]["grid"]["grams"], co2_renewable: carbon_infos["statistics"]["co2"]["renewable"]["grams"], all_images_size: @all_images_size, background_color: background_color, font_families: font_families ) %>
